# subdirectories to ignore #

# filetypes to ignore #
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.bbl
*.blg

# files to ignore #
Activities/templates/*.*
!Activities/templates/*.Rnw
Activities/*.*
!Activities/*.tex
!Activities/*.pdf
